# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml

# Build and cache
.gradle/
**/.gradle/
**/build/
**/target/

# macOS and environment
.DS_Store
.env

# Gradle Wrapper must be stored in Git
!**/gradle/wrapper/gradle-wrapper.jar
